* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav {
    width: 1500px;
    height: 32px;
    margin: 20px 30px;
}

.left {
    float: left;
    width: 550px;
    height: 32px;
}

.left ul li {
    float: left;
    margin-right: 30px;
}

.left ul li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 32px;
    color: #222222;
}

.left ul li a:hover {
    color: #8e5efb;
}

.right {
    float: right;
    width: 260px;
    height: 28px;
}

.right ul li {
    float: left;
    margin-left: 30px;
    font-size: 13px;
    line-height: 32px;
}

.right ul li a {
    text-decoration: none;
    color: #222222;
}

.right ul li a:hover {
    color: #8e5efb;
}

.right .w a {
    color: #f86b51;
}

.right .e a {
    display: inline-block;
    background-color: #4e71f2;
    width: 30px;
    height: 20px;
    padding: 1px 9px 9px 13px;
    border-radius: 10px;
    color: ghostwhite;
}

.logo {
    background-color: gold;
    width: 400px;
    height: 113px;
    margin: 30px auto;
    background-image: url(images/logo.png);
}

.inputs {
    width: 660px;
    height: 100px;
    margin: 30px auto;
}

.inputs input {
    height: 46px;
    width: 560px;
    border-radius: 10px;
    border: 2px solid #4e6ef2;
    border-right: none;
}

.inputs button {
    height: 47px;
    width: 90px;
    margin-left: -13px;
    background-color: #4e6ef2;
    font-size: 14px;
    color: lavenderblush;
    border: 2px solid #4e6ef2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bodys {
    height: 27px;
    width: 660px;
    margin: -41px auto;
}

.bodys ul li {
    line-height: 27px;
}

.bodys ul li a {
    text-decoration: none;
}

.bodys .t a {
    float: left;
    font-size: 14px;
    color: #222222;
    float: left;
}

.bodys .y a {
    float: left;
    font-size: 12px;
    color: #9195a3;
    margin-left: 542px;
}

.bodys .y a:hover {
    color: #8e5efb;
}

.box {
    width: 660px;
    height: 150px;
    margin: 50px auto;
}

.box .lefts {
    float: left;
    width: 220px;
    height: 150px;
}

.box .lefts ul li a {
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
}

.box .rights {
    float: right;
    width: 220px;
    height: 150px;
}

.box .rights ul li a {
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
}

.box ul li a:hover {
    color: #8e5efb;
    text-decoration: underline;
}

.foots {
    height: 30px;
    background-color: #fafafa;
    margin-top: 175px;
}

.foots .leftss {
    float: left;
    height: 30px;
    width: 640px;
}

.foots .leftss ul li {
    float: left;
    margin-left: 20px;
}

.foots .leftss ul li a {
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    color: #9195a3;
}

.foots .leftss ul li a:hover {
    color: slateblue;
}

.foots .rightss {
    float: right;
    height: 30px;
    width: 530px;
    margin-left: 30px;
}

.foots .rightss ul li {
    float: left;
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    color: #9195a3;
    margin-right: 20px;
}